<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TwikTok</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container adminBk">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationAdmin"/>
        
            <div class="row" th:if="${user} != null">
                <div th:include="pages/adfragments :: adminLeftPane(${user}, ${allusers}, ${allAds}, ${allInbox})"/>
                
                <div class="col-sm-9">
                    <div class="well adminHomewell">Trending</div>
                    <div class="list-group centertinz">
                        <div th:each="post : ${postpage}">
                            <a class="list-group-item" th:classappend="${post.approved == 1 ? 'approvedPost' : 'unApprovedPost'}" th:href="@{/securedadminLogin/s_ch_admin_(pos=${post.id}, t=${post.title}, p=${pg})}">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div th:if="${post.coverImage != 'empty.png'}">
                                            <img class="memelogicstyle" src="" th:src="@{'/files/dist_img/' + ${post.coverImage}}" th:alt="${post.coverImage + ' pic'}" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="chead" class="list-group-item-text" th:text="${post.title}"></div>
                                        <div>
                                            <span style="font-size: 11px;" class="list-group-item-text" th:text="${post.duration}"></span>
                                            <span style="font-size: 11px;" class="list-group-item-text" th:text="${post.userone.username} == ${session.username} ? '' : ${'>> @' + post.userone.username}"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="badge" th:text="${post.views}"></span><br/>
                                        <span style="font-size: 11px;">views</span> 
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    <div>
                        <div class="centertinz">
                            <ul class="pagination pagination-sm">
                                <li th:style="'display:'+@{${disp1}}+';'">
                                    <a class="btn" th:href="@{/securedadminLogin/entry(page=1)}"> « </a>
                                </li>
                                <li th:style="'display:'+@{${disp1}}+';'">
                                    <a class="btn" th:href="@{/securedadminLogin/entry(page=${postpage.number})}"> ← </a>
                                </li>
                    
                    
                                <li th:each="page : ${#numbers.sequence(pgn.startPage, pgn.endPage)}" 
                                    th:class="${postpage.number == (page - 1)} ? 'active pointerx'">
                                    <a class="btn" th:href="@{/securedadminLogin/entry(page=${page})}" th:text="${page}"></a>
                                </li>
                    
                    
                                <li th:style="'display:'+@{${disp2}}+';'">
                                    <a class="btn" th:href="@{/securedadminLogin/entry(page=${postpage.number + 2})}"> → </a>
                                </li>
                                <li th:style="'display:'+@{${disp2}}+';'">
                                    <a class="btn" th:href="@{/securedadminLogin/entry(page=${postpage.totalPages})}"> » </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>