<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container adminBk">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationAdmin"/>
            
            <div class="row">
                <div th:include="pages/adfragments :: adminLeftPane(${user}, ${allusers}, ${allAds}, ${allInbox})"/>
                
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading title centertinz">Messages</div>
                    </div>
                    <div class="centertinz smallfont redColor">
                        <p th:text="${alert}"></p>
                    </div>
                    
                    <div th:classappend="${nothing}">
                        <span th:text="${alertFallback}"></span>
                    </div>
                    
                    <div th:if="${adminInboxObj} != null">
                        <!--
                        <div th:classappend="${theclass}">
                            <span th:text="${nonotifications}"></span>
                        </div>
                        -->
                        <div class="list-group">
                            <div th:each="inbox : ${adminInboxObj}">
                                <div class="list-group-item" th:classappend="${inbox.adminRead} == '0' ? 'unreadSub' : 'postsubcomment_body3'">
                                    <div class="autoOverflow">
                                        <a th:href="@{_src_admin_math_physics(usr=${inbox.userInbox.id})}">
                                            <span class="postcomment_username" th:text="${inbox.userInbox.username}"></span>
                                        </a>
                                        <span style="float: right;">
                                            <span class="smallfont" th:text="${inbox.duration}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a th:href="@{_admin_inbox_rkt_(mid=${inbox.id}, pgn=${pg}, akt=dlt_Mxx)}">
                                                <span class="glyphicon glyphicon-trash smallfont" style="color: red;"></span>
                                            </a>
                                        </span>
                                    </div>
                                    
                                    <!--this na where the quote go come in-->
                                    <div class="autoOverflow">
                                        <div class="adminReplyCover" th:if="${inbox.quoteInboxObject} != null" th:text="${inbox.quoteInboxObject.replyquote.content}"></div>
                                    </div>
                                    <div class="list-group-item-text justify smallfont3A" th:utext="${inbox.content}"></div>
                                    
                                    <a class="smallfont" th:href="@{_admin_inbox_rkt_(mid=${inbox.id}, pgn=${pg}, akt=rep_)}">
                                        <span class="glyphicon glyphicon-share-alt"></span> Reply
                                    </a><br/>
                                    
                                    <div class="media list-group-item-text" th:each="inboxreply : ${inbox.reply}" th:if="${inboxreply.deleteAdminFlag} == 0">
                                        <div class="media-top media-left">
                                            <img class="readerImage2" src="" th:src="@{/files/system_img/logo.jpg}" alt="dropbylogo"/>
                                        </div>
                                        <div class="media-body justify panel panel-body postsubcomment_body2">
                                            <div class="autoOverflow">
                                                <span class="postcomment_username">Admin</span>
                                                <span class="postcomment_duration smallfont" th:text="${inboxreply.duration}"></span>
                                            </div>
                                            <div class="smallfont3" th:utext="${inboxreply.content}" style="color: black;"></div><br/>
                                            <div class="smallfont">
                                                <a class="smallfont" th:href="@{_admin_inbox_rkt_(rid=${inboxreply.id}, pgn=${pg}, akt=dlt_Mzz)}">
                                                    <span style="color: red;" class="glyphicon glyphicon-trash"></span>&nbsp;<span>Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><br/>
                            </div>
                        </div>
                    
                        <div>
                            <div class="centertinz">
                                <ul class="pagination pagination-sm">
                                    <li th:style="'display:'+@{${disp1}}+';'">
                                        <a class="btn" th:href="@{_inbox_admin(pg=1)}"> « </a>
                                    </li>
                                    <li th:style="'display:'+@{${disp1}}+';'">
                                        <a class="btn" th:href="@{_inbox_admin(pg=${adminInboxObj.number})}"> ← </a>
                                    </li>
                    
                    
                                    <li th:each="page : ${#numbers.sequence(pgn.startPage, pgn.endPage)}" 
                                        th:class="${adminInboxObj.number == (page - 1)} ? 'active pointerx'">
                                        <a class="btn" th:href="@{_inbox_admin(pg=${page})}" th:text="${page}"></a>
                                    </li>
                    
                    
                                    <li th:style="'display:'+@{${disp2}}+';'">
                                        <a class="btn" th:href="@{_inbox_admin(pg=${adminInboxObj.number + 2})}"> → </a>
                                    </li>
                                    <li th:style="'display:'+@{${disp2}}+';'">
                                        <a class="btn" th:href="@{_inbox_admin(pg=${adminInboxObj.totalPages})}"> » </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div th:if="${replyObjectPost} != null">
                        <p class="smallfont centertinz redColor" th:text="${alert}"></p>
                    
                        <div>
                            <form th:action="@{_admin_inbox_rkt_(mid=${modelMID}, pgn=${modelPGN}, akt=rep_post)}" method="post" th:object="${replyObjectPost}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <textarea class="form-control" th:field="*{content}" placeholder="Compose" cols="20" rows="10" required="" maxlength="700"></textarea><br/>
                                </div>
                            
                                <div class="form-group centertinz">
                                    <button class="btn btn-primary btn-block" name="actionButton" value="post"><span class="glyphicon glyphicon-send"></span> Post</button>    
                                </div>
                            </form>
                        </div><br/>
                        <div>
                            <ul class="pager centertinz">
                                <li>
                                    <a class="btn" th:href="@{_inbox_admin(pg=${modelPGN})}"> Back </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>