<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <h1>
                    <a><img src="" th:src="@{/files/system_img/logo.jpg}" width="50" height="50" alt="onenaijalogo" style="border-radius: 50%;"/> 9jaForum</a>
                </h1>
            </div>
        
            <div class="row">
                <nav class="navbar navbar-inverse container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Switch</a></li>
                        <li><a th:href="@{/user/login}">Home</a></li>
                        <li><a>Opinion</a></li>
                        <li><a>Memelogic</a></li>
                        <li><a>Poem/Sarcasm</a></li>
                        <li><a>The Sexes</a></li>
                    </ul>
                </nav>
            </div>
            
            <!--
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div>
            -->
            
            
            <div class="row">
                <div class="col-sm-3" style="padding: 8px; background-color: rgb(248,248,248);">
                    <a class="smallfont2" th:href="@{/user/prf}">
                        <div class="thumbNailX" style="background-color: rgb(247,247,247);">
                            <img th:classappend="${user.colorclass}" class="roundImage" src="" th:src="@{'/files/profile_img/' + ${user.pix}}" width="80" height="80" th:alt="${user.username + ' pic'}" alt=""/><br/><br/>
                            <div class="postcomment_username" th:text="${'@' + user.username + ' - ' + user.userrank}"></div>
                        </div>
                    </a><br/>
                        
                    <div>
                        <a class="smallfont2" th:href="@{/user/login}">Compose</a><hr/>
                        <a class="smallfont2" th:href="@{/user/inbox(pg=1)}">Inbox <span class="badge smallfont" th:text="${size}"></span></a><hr/>
                        <a class="smallfont2" th:href="@{/user/flpost(pg=1)}">Followed Posts <span class="badge smallfont" th:text="${pize}"></span></a><hr/>
                        <a class="smallfont2" th:href="@{/user/rcd(pg=1)}">My Trend <span class="badge smallfont" th:text="${tize}"></span></a><hr/>
                        
                        <a class="smallfont2" th:href="@{/user/ads}">Ads</a><hr/>
            	        
                        <form th:action="@{/j_spring_security_logout}" method="POST">
                            <button class="btn btn-danger btn-sm" name="xx" value="logout"><span class="glyphicon glyphicon-user"></span> Logout</button>
                            <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
                
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading title centertinz">Adverts</div>
                    </div>
                    
                    <div style="overflow: auto;">
                        <a class="prclass" th:href="@{/}">Buy Credit</a>
                    </div>
                    
                    <div class="adDiv" th:classappend="${firstBlock}">
                        <div class="col-sm-6">
                            <a th:href="@{/user/ads(ct_=nw)}" class="newAd">Create New Ad</a>
                        </div>
                        
                        <div class="col-sm-6">
                            <a th:href="@{//user/ads(ct_=mn)}" class="existingAd">Manage Ad</a>
                        </div>
                    </div>
                    
                    <div th:classappend="${secondBlock}" th:if="${adsObject} != null">
                        <p class="smallfont centertinz" th:text="${alert}"></p>
                        
                        <div>
                            <form th:action="@{/}" method="post" th:object="${adsObject}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input class="form-control" th:field="*{landingPage}" type="text" placeholder="Target URL" required="" maxlength="254"/><br/>
                                </div>
                            
                                <div class="form-group">
                                    <input id="adsImg" class="btn btn-sm btn-default" th:field="*{file}" type="file" style="display: inline"/>
                                    <label for="adsImg" style="display: inline; font-weight: normal;"> Advert photo</label>
                                </div><br/>
                            
                                <div class="form-group" style="text-align: center;">
                                    <div class="radio-inline">
                                        <label style="font-weight: normal;">
                                            <input type="radio" th:field="*{payOption}" value="CPM" checked=""/> Cost/Mille
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label style="font-weight: normal;">
                                            <input type="radio" th:field="*{payOption}" value="CPC"/> Cost/Click
                                        </label>
                                    </div><br/><br/>
                                
                                    <input type="submit" class="btn btn-success btn-block" value="Submit"/>
                                </div>
                            </form>
                        </div><br/>
                    </div>
                    
                </div>
            </div>
            
            
            <!--
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div><br/><br/>
            -->
            <div class="row">
                <div style="background-color: rgb(0,88,52); height: 100px;"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>