<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
    
        <div class="col-sm-10">
            <div class="row">
                <h1>
                    <a><img src="" th:src="@{/files/system_img/logo.jpg}" width="50" height="50" alt="onenaijalogo" style="border-radius: 50%;"/> 9jaForum</a>
                </h1>
            </div>
            
            <div class="row">
                <nav class="navbar navbar-inverse container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/user/login}">Switch</a></li>
                        <li><a>Home</a></li>
                        <li><a>Opinions</a></li>
                        <li><a>Memelogic</a></li>
                        <li><a>Poetic Justice</a></li>
                        <li><a>Battle Of The Sexes</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/user/login}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a th:href="@{/signup}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div>
            
            <div class="row" style="background-color: white"><br/></div>
        
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form th:action="@{/user/cmtpost(pos=${pos}, t=${t}, p=${p}, pid=${pid}, page=${page})}" method="post" th:object="${postclass}" enctype="multipart/form-data">
                        <p class="centertinz" th:text="${alert}"></p>
                        
                        <div class="form-group">
                            <textarea class="form-control" th:field="*{content}" placeholder="Compose" cols="20" rows="10" required="" maxlength="10000"></textarea><br/>
                        </div>
                            
                        <div class="form-group">
                            <input id="addimg" class="btn btn-sm btn-default" th:field="*{contentFile}" type="file" style="display: inline"/>
                            <button class="btn btn-sm btn-info" name="actionButton" value="add_img"><span class="glyphicon glyphicon-user" style="display: inline"></span> Upload</button>
                        </div>
                            
                        <div class="form-group" style="text-align: center;">
                            <button class="btn btn-success btn-block" name="actionButton" value="post"><span class="glyphicon glyphicon-user"></span> Post</button>    
                        </div>
                    </form>
                    
                    <ul class="pager centertinz">
                        <li>
                            <a th:href="@{/s_ch(pos=${pos}, t=${t}, p=${p}, pid=${pid}, page=${page})}">Back</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
            <div class="row" style="background-color: white"><br/></div>
            
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div>
            
            <div class="row">
                <div style="background-color: rgb(0,88,52); height: 100px;"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>