<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
    
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationUser"/>
            <div th:include="pages/adfragments :: adTop(${adObject}, ${top})"/>
        
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <form th:action="@{/user/cmtpost(akt=edit_cmt, pos=${pos}, cid=${cid}, t=${t}, p=${p}, page=${page})}" method="post" th:object="${postclass}" enctype="multipart/form-data">
                        <p class="centertinz smallfont3" th:text="${alert}"></p>
                        
                        <div class="desc">Edit Comment:</div>
                        <div class="form-group">
                            <textarea class="form-control" th:field="*{content}" placeholder="Edit comment" cols="20" rows="10" required="" maxlength="10000"></textarea><br/>
                        </div>
                            
                        <div class="form-group">
                            <input id="addimg" class="btn btn-sm btn-default" th:field="*{contentFile}" type="file" style="display: inline"/>
                            <button class="btn btn-sm btn-info" name="actionButton" value="add_img"><span class="glyphicon glyphicon-user" style="display: inline"></span> Upload</button>
                        </div>
                            
                        <div class="form-group" style="text-align: center;">
                            <button class="btn btn-success btn-block" name="actionButton" value="post"><span class="glyphicon glyphicon-user"></span> Post</button>    
                        </div>
                    </form>
                    
                    <ul class="pager centertinz">
                        <li>
                            <a th:href="@{/s_ch(pos=${pos}, t=${t}, p=${p}, page=${page})}">Back</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
            <div th:include="pages/adfragments :: adBottom(${adObject}, ${bottom})"/>
            
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>