<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TwikTok</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationUser"/>
            
            <div th:include="pages/adfragments :: adTop(${adObject}, ${top})"/>
            
            <div class="row">
                <div th:include="pages/adfragments :: leftPane(${user}, ${size}, ${pize}, ${tize}, ${bize})"/>
                
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading title centertinz">Messages</div>
                    </div>
                    <div class="centertinz smallfont redColor">
                        <p th:text="${alert}"></p>
                    </div>
                    
                    <div th:classappend="${nothing}">
                        <span th:text="${alertFallback}"></span>
                    </div>
                    
                    <div th:if="${inboxObj} != null">
                        <div th:classappend="${theclass}">
                            <span th:text="${nonotifications}"></span>
                        </div>
                        <div class="list-group">
                            <div th:each="inbox : ${inboxObj}">
                                <div class="list-group-item postsubcomment_body3">
                                    <div class="autoOverflow">
                                        <span class="postcomment_username">Me</span>
                                        <span style="float: right;">
                                            <span class="smallfont" th:text="${inbox.duration}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/user/inbox_rkt_(mid=${inbox.id}, pgn=${pgn}, akt=dlt_Mx)}">
                                                <span class="glyphicon glyphicon-trash smallfont" style="color: red;"></span>
                                            </a>
                                        </span>
                                    </div>
                                    
                                    <!--this na where the quote go come in-->
                                    <div class="autoOverflow">
                                        <div class="replyCover" th:if="${inbox.quoteInboxObject} != null" th:text="${inbox.quoteInboxObject.replyquote.content}"></div>
                                    </div>
                                    
                                    <div class="list-group-item-text justify smallfont3A" th:utext="${inbox.content}"></div>
                                    
                                    <div class="media list-group-item-text" th:each="inboxreply : ${inbox.reply}">
                                        <div class="media-top media-left">
                                            <img class="readerImage2" src="" th:src="@{/files/system_img/logo.jpg}" alt="onenaijalogo"/>
                                        </div>
                                        <div class="media-body justify panel panel-body" th:classappend="${inboxreply.userRead} == '0' ? 'unreadSub' : 'postsubcomment_body2'">
                                            <div class="autoOverflow">
                                                <span class="postcomment_username">Admin</span>
                                                <span class="postcomment_duration smallfont" th:text="${inboxreply.duration}"></span>
                                            </div>
                                            
                                            <div class="smallfont3" th:utext="${inboxreply.content}" style="color: black;"></div><br/>
                                            <div class="smallfont">
                                                <a class="gimmeChance" th:href="@{/user/inbox_rkt_(rid=${inboxreply.id}, pgn=${pgn}, akt=rep_)}">
                                                    <span style="color: blue;" class="glyphicon glyphicon-share-alt"></span>&nbsp;<span>Reply</span>&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <a class="gimmeChance" th:href="@{/user/inbox_rkt_(rid=${inboxreply.id}, pgn=${pgn}, akt=_viewmark_)}" th:if="${inboxreply.userRead} == '0'">
                                                    <span style="color: black;" class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Mark</span>&nbsp;&nbsp;&nbsp;
                                                </a>
                                                <a class="gimmeChance" th:href="@{/user/inbox_rkt_(rid=${inboxreply.id}, pgn=${pgn}, akt=dlt_Mz)}">
                                                    <span style="color: red;" class="glyphicon glyphicon-trash"></span>&nbsp;<span>Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><br/>
                            </div>
                        </div>
                    
                        <div>
                            <ul class="pager centertinz">
                                <li th:style="'display:'+@{${disp1}}+';'">
                                    <a class="btn" th:href="@{/user/inbox(pg= ${prev})}"> Previous </a>
                                </li>
                                <li th:style="'display:'+@{${disp2}}+';'">
                                    <a class="btn" th:href="@{/user/inbox(pg=${next})}"> Next </a>
                                </li>
                            </ul>
                        </div><br/>
                    </div>
                    
                    <!--here-->
                    
                    <div th:if="${replyObjectPost} != null">
                        <p class="smallfont centertinz redColor" th:text="${alert}"></p>
                    
                        <div>
                            <form th:action="@{/user/inbox_rkt_(rid=${modelRID}, pgn=${modelPGN}, akt=rep_post)}" method="post" th:object="${replyObjectPost}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <textarea class="form-control" th:field="*{content}" placeholder="Compose" cols="20" rows="10" required="" maxlength="700"></textarea><br/>
                                </div>
                            
                                <div class="form-group centertinz">
                                    <button class="btn btn-primary btn-block" name="actionButton" value="post"><span class="glyphicon glyphicon-send"></span> Post</button>    
                                </div>
                            </form>
                        </div><br/>
                        <div>
                            <ul class="pager centertinz">
                                <li>
                                    <a class="btn" th:href="@{/user/inbox(pg=${modelPGN})}"> Back </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div th:include="pages/adfragments :: adBottom(${adObject}, ${bottom})"/>
            
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>