<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationHome"/>
            
            <p class="row"></p>
            
            <div class="row">
                <h2 style="text-align: center; color: blue;">Login</h2><br/>
            </div>
        
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="smallfont redColor" th:text="${error}"></p>
                      
                    <div th:classappend="${firstBlock}">
                        <form th:action="@{/j_spring_security_check}" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="user" placeholder="Username(lower-case)" required=""/><br/>
                                <input class="form-control" type="password" name="pswd" placeholder="Password" required=""/><br/>
                                <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
                                <input class="btn btn-success" type="submit" value="Login"/>
                            </div>
                            <a th:href="@{/rtv}" class="smallfont redColor">Forgot username/password?</a><br/><br/>
                        </form>
                    </div>
                    
                    <div th:classappend="${secondBlock}">
                        <form th:action="@{/rtv_}" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Enter your e-mail" required=""/><br/>
                                <input class="btn btn-primary" type="submit" value="Retrieve"/>
                            </div><br/><br/>
                        </form>
                    </div>

                </div>
                <div class="col-sm-3"></div>
            </div>
            
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>