<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div th:include="pages/adfragments :: headLogo"/>
            <div th:include="pages/adfragments :: navigationUser"/>
            
            <div th:include="pages/adfragments :: adTop(${adObject}, ${top})"/>
            
            <div class="row">
                <div th:include="pages/adfragments :: leftPane(${user}, ${size}, ${pize}, ${tize})"/>
                
                <div class="col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading title centertinz">Inbox</div>
                    </div>
                    <div class="centertinz smallfont redColor">
                        <p th:text="${alert}"></p>
                    </div>
                    
                    <div th:classappend="${nothing}">
                        <span th:text="${alertFallback}"></span>
                    </div>
                    
                    <div th:if="${messageobj} != null">
                        <div th:classappend="${theclass}">
                            <span th:text="${nonotifications}"></span>
                        </div>
                    
                        <div class="list-group">
                            <div th:each="mo : ${messageobj}">
                                <div class="list-group-item" th:classappend="${mo.unread}">
                                    <div class="autoOverflow">
                                        <span class="postcomment_username">Me</span>
                                        <span style="float: right;">
                                            <span class="smallfont" th:text="${mo.commentmessage.duration}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a th:href="@{/user/dlt_(cid=${mo.commentid}, pgn=${pgn}, akt=dlt_cmt)}">
                                                <span class="glyphicon glyphicon-trash" style="color: red;"></span>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="list-group-item-text justify smallfont3A" th:utext="${mo.commentmessage.content}"></div><br/>
                                    <div>
                                        <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="smallfont" th:text="${mo.commentmessage.likes}"></span>&nbsp;&nbsp;
                                        <span style="color: red;" class="glyphicon glyphicon-flag"></span>&nbsp;<span class="smallfont" th:text="${mo.commentmessage.redflag}"></span>&nbsp;&nbsp;
                                        <span style="color: yellow;" class="glyphicon glyphicon-star"></span>&nbsp;<span class="smallfont" th:text="${mo.commentmessage.star}"></span>
                                    </div><br/>
                                    <a th:href="@{'/' + ${mo.postlink}}">
                                        <div class="row list-group-item-text" th:each="mosubcomment: ${mo.commentmessage.subcomment}">
                                            <div class="col-xs-1">
                                                <img th:classappend="${mosubcomment.userthree.colorclass}" class="roundimg" src="" th:src="@{'/files/profile_img/' + ${mosubcomment.userthree.pix}}" width="35" height="35" alt="" th:alt="${mosubcomment.userthree.username + ' pic'}" />
                                            </div>
                                            <div class="col-xs-10 justify panel panel-body" th:classappend="${mosubcomment.unread} == 'unread' ? 'unreadSub' : 'postsubcomment_body2'">
                                                <div class="autoOverflow">
                                                    <span class="postcomment_username" th:text="${mosubcomment.userthree.username} == ${session.username} ? 'Me' : ${'@' + mosubcomment.userthree.username}"></span>
                                                    <span class="postcomment_duration smallfont" th:text="${mosubcomment.duration}"></span>
                                                </div>
                                                <div class="smallfont3" th:text="${mosubcomment.content}" style="color: black;"></div><br/>
                                                <div>
                                                    <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="smallfont" th:text="${mosubcomment.likes}"></span>&nbsp;&nbsp;
                                                    <span style="color: red;" class="glyphicon glyphicon-flag"></span>&nbsp;<span class="smallfont" th:text="${mosubcomment.likes}"></span>&nbsp;&nbsp;
                                                    <span style="color: yellow;" class="glyphicon glyphicon-star"></span>&nbsp;<span class="smallfont" th:text="${mosubcomment.likes}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div><br/>
                            </div>
                        </div>
                    
                        <div>
                            <ul class="pager centertinz">
                                <li th:style="'display:'+@{${disp1}}+';'">
                                    <a class="btn" th:href="@{/user/inbox(pg= ${prev})}"> Previous </a>
                                </li>
                                <li th:style="'display:'+@{${disp2}}+';'">
                                    <a class="btn" th:href="@{/user/inbox(pg=${next})}"> Next </a>
                                </li>
                            </ul>
                        </div><br/>
                    </div>
                </div>
            </div>
            
            <div th:include="pages/adfragments :: adBottom(${adObject}, ${bottom})"/>
            
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>