<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9jaForum</title>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <h1>
                    <a><img src="" th:src="@{/files/system_img/logo.jpg}" width="50" height="50" alt="onenaijalogo" style="border-radius: 50%;"/> 9jaForum</a>
                </h1>
            </div>
        
            <div class="row">
                <nav class="navbar navbar-inverse container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Switch</a></li>
                        <li><a>Home</a></li>
                        <li><a>Opinions</a></li>
                        <li><a>Memelogic</a></li>
                        <li><a>Poetic Justice</a></li>
                        <li><a>Battle Of The Sexes</a></li>
                    </ul>
                </nav>
            </div>
            
            <!--
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div>
            -->
            
            <div class="row">
                <div class="col-sm-3" style="padding: 8px; background-color: rgb(248,248,248);">
                    <div class="thumbnail" style="text-align: center; background-color: rgb(247,247,247);">
                        <img src="" th:src="@{/files/system_img/logo.jpg}" width="80" height="80" alt="onenaijalogo" style="border-radius: 50%;"/><br/><br/>
                        <div class="caption postcomment_username" th:text="${'@' + username}"></div>
                    </div><br/>
                        
                    <div>
                        <a class="smallfont2" th:href="@{/user/login}">Compose</a><hr/>
                        <a class="smallfont2" th:href="@{/user/inbox(pg=1)}">Inbox <span class="badge smallfont" th:text="${size}"></span></a><hr/>
                        <a class="smallfont2" th:href="@{/user/flpost(pg=1)}">Followed Posts <span class="badge smallfont" th:text="${pize}"></span></a><hr/>
                        <a class="smallfont2" th:href="@{/user/rcd(pg=1)}">My Trend <span class="badge smallfont" th:text="${tize}"></span></a><hr/>
                        <a class="smallfont2" th:href="@{/user/prf}">Edit Profile</a><hr/>
                        <a class="smallfont2" th:href="@{/user/ads}">Create Ad</a><hr/>
                        <a class="smallfont2" th:href="@{/user/adm}">Manage Ad <span class="badge">125</span></a><hr/>
            	        
                        <form th:action="@{/j_spring_security_logout}" method="POST">
                            <button class="btn btn-danger btn-sm" name="xx" value="logout"><span class="glyphicon glyphicon-user"></span> Logout</button>
                            <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
                
                
                <div class="col-sm-9">
                    <p class="centertinz" th:text="${alert}"></p>
                    <div class="panel panel-primary">
                        <div class="panel-heading title centertinz">My Trends</div>
                    </div>
                    
                    <div th:classappend="${theclass}">
                        <span th:text="${clickagain}"></span>
                    </div>
                    
                    <div class="list-group centertinz">
                        <div th:each="trend : ${trendobj}">
                            <a class="list-group-item" style="display: inline-block; width:91%;" th:href="@{/}" >
                                <div class="row">
                                    <div id="chead" class="list-group-item-text" th:text="${trend.title}"></div>
                                    
                                    <div class="smallfont">
                                        <span th:text="${trend.duration}"></span>&nbsp;&nbsp;
                                        <span style="color: black;" class="glyphicon glyphicon-eye-open"></span>
                                        <span th:text="${trend.views}"></span>&nbsp;&nbsp;
                                        <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span>
                                        <span th:text="${trend.likes}"></span>&nbsp;&nbsp;
                                        <span style="color: red;" class="glyphicon glyphicon-flag"></span>
                                        <span th:text="${trend.likes}"></span>&nbsp;&nbsp;
                                        <span style="color: yellow;" class="glyphicon glyphicon-star"></span>
                                        <span th:text="${trend.likes}"></span>
                                    </div>
                                </div>
                            </a>
                            
                            <a style="display: inline-block; width: 5%; float: right;" th:href="@{/}">
                                <span class="glyphicon glyphicon-trash" style="color: red;"></span>
                            </a>
                        </div>
                    </div>
                    
                    <div>
                        <ul class="pager centertinz">
                            <li th:style="'display:'+@{${disp1}}+';'">
                                <a class="btn" th:href="@{/user/rcd(pg= ${prev})}"> Previous </a>
                            </li>
                            <li th:style="'display:'+@{${disp2}}+';'">
                                <a class="btn" th:href="@{/user/rcd(pg=${next})}"> Next </a>
                            </li>
                        </ul>
                    </div><br/>
                </div>
            </div>
            
            <!--
            <div class="row" style="text-align: center;">
                <div style="background-color: pink; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            
                <div style="background-color: blue; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
                
                <div style="background-color: orange; width: 30%; height: 90px; margin-bottom: 10px; display: inline-block;">
                    For normal advert
                </div>
            </div><br/><br/>
            -->
            
            <div class="row">
                <div style="background-color: rgb(0,88,52); height: 100px;"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </body>
</html>