<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TwikTok</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script th:src="@{/js/jQueryFile.js}" type="text/javascript"></script>
        <script th:src="@{/js/app_js.js}" type="text/javascript"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/files/system_img/logo.jpg}" href=""/>
        <link rel="stylesheet" th:href="@{/css/app_style.css}" href=""/>
    </head>
    
    <body class="container">
        <div class="col-sm-1"></div>
    
    <div class="col-sm-10">
        <div th:include="pages/adfragments :: headLogo"/>
        <div th:include="pages/adfragments :: navigationHome"/>
        <div th:include="pages/adfragments :: adTop(${adObject}, ${top})"/>
        
        <div class="row">
            <div>
                <p id="info1" class="smallfont centertinz redColor" th:text="${alertx}"></p>
                
                <div th:object="${postclass}" class="panel panel-success">
                    <div class="panel-heading title centertinz" th:text="*{title}"></div>
                        
                    <div class="panel-body">
                        <div style="overflow: auto;">
                            <span id="postRank" th:classappend="*{postrank} != 0 ? 'btn btn-info btn-xs prclass' : 'hidden'" th:text="*{'PR: ' + postrank}"></span>
                        </div>
                        
                        <div class="justify" th:utext="*{content}"></div><br/>

                        <div>
                            <a th:href="@{/prf_src(usr=*{userone.id})}" class="postcomment_username smallfont">
                                <img th:classappend="*{userone.colorclass}" class="readerImageAuthor" src="" th:src="@{'/files/profile_img/' + *{userone.pix}}" th:alt="*{userone.username + ' pic'}" alt=""/><br/>
                                <span th:text="*{userone.username} == ${session.username} ? 'By me' : *{'@' + userone.username}"></span>
                            </a><br/>
                        </div>
                        
                        <div class="centertinz">
                            <a id="commentOnPost" th:if="${session.commentBan != 1}" class="btn gimmeChance" th:href="@{user/cmt(akt=cmt, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}"><span class="glyphicon glyphicon-comment"></span> <span class="smallfont" th:text="${commentsExt.totalElements}">Comment</span></a>
                            <a class="btn gimmeChance" th:href="@{user/cmt(akt=lk, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}"><span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span> <span class="smallfont" th:text="*{likes}"></span></a>
                            <a class="btn gimmeChance" th:href="@{user/cmt(akt=flg, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}"><span style="color: red;" class="glyphicon glyphicon-flag"></span> <span class="smallfont" th:text="*{redflag}"></span></a>
                            <a class="btn gimmeChance" th:href="@{user/cmt(akt=str, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}"><span style="color: yellow;" class="glyphicon glyphicon-star"></span> <span class="smallfont" th:text="*{star}"></span></a><br/>
                        </div><br/>

                        <div class="hidden">
                            <!--For JQuery very important-->
                            <span id="sessionOn" th:text="${session.username} == null ? 'no session' : ${session.username}"></span>
                            <span id="userRank" th:text="${session.myRank}"></span>
                            <span id="postid" th:text="${pos}"></span>
                            <span id="title" th:text="${title}"></span>
                            <span id="commentPaginate" th:text="${commentsExt.number + 1}"></span>
                            <span id="pagePaginate" th:text="${pg}"></span>
                        </div>
                        
                        <div id="dynamicFormDiv" class="hidden" style="margin: 0 auto; width: 90%">
                            <form id="dynamicForm" action="" enctype="multipart/form-data" method="POST">
                                <div>
                                    <textarea id="kontent" class="form-control" name="dynamicFormContent" placeholder="Comment" cols="20" rows="7" required="" maxlength="700"></textarea><br/>
                                </div>
                                <div class="uploadbtnwrapper">
                                    <input id="addimg" class="btn btn-sm btn-default" name="dynamicFormFile" type="file" style="display: inline"/>
                                    <button class="btn btn-sm btn-info" name="doesNothing"><span class="glyphicon glyphicon-cloud-upload" style="display: inline"></span> Attach Image</button>
                                    <button id="smiley" class="btn btn-sm btn-primary" name="smiley" style="display: inline"><span class="glyphicon glyphicon-cloud-upload"></span> Smileys</button>
                                    <button id="dynamicSubmit" class="btn btn-sm btn-success" style="display: inline"><span class=" glyphicon glyphicon-send"></span> Post</button>
                                </div>
                            </form>
                        </div>
                        
                        <ul class="pager centertinz">
                            <li>
                                <a th:href="@{/(page=${pg})}">Back</a>
                            </li>
                        </ul>
                        
                        <div th:each="comment : ${commentsExt}" class="mediaExposed">
                            <div class="media smallPadding">
                                <div class="media-left media-top">
                                    <a th:href="@{/prf_src(usr=${comment.usertwo.id})}">
                                        <img th:classappend="${comment.usertwo.colorclass}" class="readerImage1" src="" th:src="@{'/files/profile_img/' + ${comment.usertwo.pix}}" th:alt="${comment.usertwo.username + ' pic'}" alt=""/>
                                    </a>
                                </div>
                                <div class="justify panel panel-body postcomment_body media-body">
                                    <div style="overflow: auto;">
                                        <a class="gimmeChance" th:href="@{/prf_src(usr=${comment.usertwo.id})}">
                                            <span class="postcomment_username" th:text="${comment.usertwo.username} == ${session.username} ? 'Me' : ${'@' + comment.usertwo.username}"></span>
                                        </a>
                                        <span class="smallfontRank" th:text="${comment.commentrank} != 0 ? ${'CR: ' + comment.commentrank + '%'} : ''"></span>
                                        <span class="postcomment_duration" >
                                            <span th:text="${comment.duration}"></span>
                                        </span>
                                    </div>
                                    
                                    <div>
                                        <div class="quotedCover" th:if="${comment.quoteobj} != null">
                                            <div style="overflow: auto;">
                                                <span class="postcomment_username" th:text="${comment.quoteobj.userquoteobj.username} == ${session.username} ? 'Me' : ${'@' + comment.quoteobj.userquoteobj.username}"></span>
                                                <span class="postcomment_duration" th:text="${comment.quoteobj.duration}"></span>
                                            </div>
                                            <div th:utext="${comment.quoteobj.content}"></div>
                                        </div>
                                        
                                        <div class="commentContentForQuoting" th:id="${comment.id}" style="clear: both;" th:utext="${comment.content}"></div><br/>
                                    </div>
                                    
                                    <div class="hidden">
                                        <!--For JQuery very important-->
                                        <span class="commentid" th:text="${comment.id}"></span>
                                    </div>
                                    
                                    <div class="commentBck">
                                        <span>
                                            <a class="commentsOnTheGo gimmeChance" th:if="${session.commentBan != 1}" th:href="@{user/cmt(akt=cmt_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span class="glyphicon glyphicon-comment"></span> <span class="smallfont" th:text="${#lists.size(comment.subcomment) == 0 ? '' : #lists.size(comment.subcomment)}">Comments</span>
                                            </a>
                                            <a class="quotesOnTheGo gimmeChance" th:if="${session.commentBan != 1}" th:href="@{user/cmt(akt=qte_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: pink;" class="glyphicon glyphicon-share-alt"></span> <span class="smallfont">Quote</span>
                                            </a>
                                            <a class="gimmeChance" th:href="@{user/cmt(akt=lk_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span> <span class="smallfont" th:text="${comment.likes}"></span>
                                            </a>
                                            <a class="gimmeChance" th:href="@{user/cmt(akt=flg_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: red;" class="glyphicon glyphicon-flag"></span> <span class="smallfont" th:text="${comment.redflag}"></span>
                                            </a>
                                            <a class="gimmeChance" th:href="@{user/cmt(akt=str_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: yellow;" class="glyphicon glyphicon-star"></span> <span class="smallfont" th:text="${comment.star}"></span>
                                            </a>
                                            <a class="gimmeChance" th:if="${session.commentBan} != 1" th:href="@{user/cmt(akt=shr_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: blue;" class="glyphicon glyphicon-share"></span> <span class="smallfont" th:text="${comment.share}"></span>
                                            </a>
                                            <a class="editComOnTheGo gimmeChance" th:if="${session.commentBan} != 1" th:href="@{user/cmt(akt=edit_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: grey;" class="glyphicon glyphicon-pencil" th:classappend="${comment.usertwo.username} == ${session.username} ? '' : 'hidden'"></span>
                                            </a>
                                            
                                            <a class="gimmeChance" th:href="@{user/cmt(akt=dlt_s, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: red;" class="glyphicon glyphicon-trash" th:classappend="${comment.usertwo.username} == ${session.username} ? '' : 'hidden'"></span>
                                            </a>
                                        <span/>
                                        
                                        <span style="float: right;">
                                            <a th:href="@{user/cmt(akt=dlt_sMod, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                <span style="color: blue;" class="glyphicon glyphicon-trash" th:classappend="${session.usercolorclass} == 'user_mod' ? '' : 'hidden'"></span>
                                            </a>
                                        <span/>&nbsp;<hr/>
                                    </div>
                                    
                                    <div class="subcommentsOnTheGo hidden">
                                        <!-- This form is for Javascript subcomment -->
                                        <form class="dynamicSubComment" action="" enctype="multipart/form-data">
                                            <div>
                                                <textarea class="form-control subCommentContent" name="dynamicFormContent" placeholder="Comment" cols="20" rows="5" required="" maxlength="700"></textarea><br/>
                                            </div>
                                            <div class="uploadbtnwrapper">
                                                <input class="btn btn-sm btn-default subCommentAddimg" name="dynamicFormFile" type="file" style="display: inline"/>
                                                <button class="btn btn-sm btn-info" name="doesNothing"><span class="glyphicon glyphicon-cloud-upload" style="display: inline"></span> Attach Image</button>
                                                <button class="btn btn-sm btn-primary subCommentSmiley" name="smiley" style="display: inline"><span class="glyphicon glyphicon-cloud-upload"></span> Smileys</button>
                                                <button class="btn btn-sm btn-success dynamicSubmitSubComment" style="display: inline"><span class=" glyphicon glyphicon-send"></span> Post</button>
                                            </div>
                                        </form>
                                        
                                        <div class="media smallPadding" th:each="subcom, counter : ${comment.subcomment}" th:if="${counter.index &lt; 10}">
                                            <div class="media-left media-top">
                                                <a th:href="@{/prf_src(usr=${subcom.userthree.id})}">
                                                    <img th:classappend="${subcom.userthree.colorclass}" class="readerImage2" src="" th:src="@{'/files/profile_img/' + ${subcom.userthree.pix}}" th:alt="${subcom.userthree.username + ' pic'}"/>
                                                </a>
                                            </div>
                                            <div class="justify panel panel-body postsubcomment_body media-body">
                                                <div style="overflow: auto;">
                                                    <a class="gimmeChance" th:href="@{/prf_src(usr=${subcom.userthree.id})}">
                                                        <span class="postcomment_username" th:text="${subcom.userthree.username} == ${session.username} ? 'Me' : ${'@' + subcom.userthree.username}"></span>
                                                    </a>
                                                    <span class="smallfontRank" th:text="${subcom.subcommentrank} != 0 ? ${'CR: ' + subcom.subcommentrank + '%'} : ''"></span>
                                                    <span class="postcomment_duration" th:text="${subcom.duration}"></span>
                                                </div>
                                                
                                                <div th:utext="${subcom.content}"></div><br/>
                                                <div class="hidden">
                                                    <!--For JQuery very important-->
                                                    <span class="subcommentid" th:text="${subcom.id}"></span>
                                                </div>
                                                
                                                <div class="commentBck2">
                                                    <span>
                                                        <a class="gimmeChance" th:href="@{user/cmt(akt=lk_x, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span> <span class="smallfont" th:text="${subcom.likes}"></span>
                                                        </a>
                                                        <a class="gimmeChance" th:href="@{user/cmt(akt=flg_x, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: red;" class="glyphicon glyphicon-flag"></span> <span class="smallfont" th:text="${subcom.redflag}"></span>
                                                        </a>
                                                        <a class="gimmeChance" th:href="@{user/cmt(akt=str_x, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: yellow;" class="glyphicon glyphicon-star"></span> <span class="smallfont" th:text="${subcom.star}"></span>
                                                        </a>
                                                        <a class="editSubComOnTheGo gimmeChance" th:href="@{user/cmt(akt=edit_x, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: grey;" class="glyphicon glyphicon-pencil" th:classappend="${subcom.userthree.username} == ${session.username} ? '' : 'hidden'"></span>
                                                        </a>
                                                        <a th:href="@{user/cmt(akt=dlt_x, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: red;" class="glyphicon glyphicon-trash" th:classappend="${subcom.userthree.username} == ${session.username} ? '' : 'hidden'"></span>
                                                        </a>
                                                    <span/>
                                                    
                                                    <span style="float: right;">
                                                        <a th:href="@{user/cmt(akt=dlt_xMod, sid=${subcom.id}, cid=${comment.id}, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, p=${pg})}">
                                                            <span style="color: blue;" class="glyphicon glyphicon-trash" th:classappend="${session.usercolorclass} == 'user_mod' ? '' : 'hidden'"></span>
                                                        </a>
                                                    <span/>
                                                </div>
                                                
                                                <div class="dynamicEditSubComment hidden"></br>
                                                    <!-- This form is for Javascript edit_subcomment -->
                                                    <form action="" enctype="multipart/form-data">
                                                        <div>
                                                            <textarea class="form-control editSubCommentContent" name="dynamicFormContent" placeholder="Comment" cols="20" rows="5" required="" maxlength="700"></textarea><br/>
                                                        </div>
                                                        <div class="uploadbtnwrapper">
                                                            <input class="btn btn-sm btn-default editSubCommentAddimg" name="dynamicFormFile" type="file" style="display: inline"/>
                                                            <button class="btn btn-sm btn-info" name="doesNothing"><span class="glyphicon glyphicon-cloud-upload" style="display: inline"></span> Attach Image</button>
                                                            <button class="btn btn-sm btn-primary editSubCommentSmiley" name="smiley" style="display: inline"><span class="glyphicon glyphicon-cloud-upload"></span> Smileys</button>
                                                            <button class="btn btn-sm btn-success editDynamicSubmitSubComment" style="display: inline"><span class=" glyphicon glyphicon-send"></span> Post</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:if="${#lists.size(comment.subcomment) &gt; 10}">
                                            <a style="float: right; text-decoration: none;" th:href="@{mresu_b(p2=2, pos=${pos}, t=${title}, page=${commentsExt.number + 1}, pg=${pg}, cid=${comment.id})}">
                                                <span class="smallfont">More Comments</span>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="dynamicQuote hidden">
                                        <!-- This form is for Javascript quote -->
                                        <form action="" enctype="multipart/form-data">
                                            <div>
                                                <textarea class="form-control quotedTextarea" name="dynamicFormContent" placeholder="Comment" cols="20" rows="5" required="" maxlength="700"></textarea><br/>
                                                <textarea class="form-control dynamicQuoteContent1" name="dynamicFormContent" placeholder="Comment" cols="20" rows="5" required="" maxlength="700"></textarea><br/>
                                            </div>
                                            <div class="uploadbtnwrapper">
                                                <input class="btn btn-sm btn-default quoteCommentAddimg" name="dynamicFormFile" type="file" style="display: inline"/>
                                                <button class="btn btn-sm btn-info" name="doesNothing"><span class="glyphicon glyphicon-cloud-upload" style="display: inline"></span> Attach Image</button>
                                                <button class="btn btn-sm btn-primary quoteCommentSmiley" name="smiley" style="display: inline"><span class="glyphicon glyphicon-cloud-upload"></span> Smileys</button>
                                                <button class="btn btn-sm btn-success dynamicSubmitQuote" style="display: inline"><span class=" glyphicon glyphicon-send"></span> Post</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                    <div class="dynamicEditComment hidden">
                                        <!-- This form is for Javascript edit_comment -->
                                        <form action="" enctype="multipart/form-data">
                                            <div>
                                                <textarea class="form-control editCommentContent" name="dynamicFormContent" placeholder="Comment" cols="20" rows="5" required="" maxlength="700"></textarea><br/>
                                            </div>
                                            <div class="uploadbtnwrapper">
                                                <input class="btn btn-sm btn-default editCommentAddimg" name="dynamicFormFile" type="file" style="display: inline"/>
                                                <button class="btn btn-sm btn-info" name="doesNothing"><span class="glyphicon glyphicon-cloud-upload" style="display: inline"></span> Attach Image</button>
                                                <button class="btn btn-sm btn-primary editCommentSmiley" name="smiley" style="display: inline"><span class="glyphicon glyphicon-cloud-upload"></span> Smileys</button>
                                                <button class="btn btn-sm btn-success editDynamicSubmitComment" style="display: inline"><span class=" glyphicon glyphicon-send"></span> Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div th:style="'display:'+@{${dispAlpha}}+';'">
                            <div class="centertinz">
                                <ul class="pagination pagination-sm">
                                    <li th:style="'display:'+@{${disp1}}+';'">
                                        <a class="btn" th:href="@{s_ch(pos=${pos}, t=${title}, page=1, p=${pg})}"> « </a>
                                    </li>
                                    <li th:style="'display:'+@{${disp1}}+';'">
                                        <a class="btn" th:href="@{s_ch(pos=${pos}, t=${title}, page=${commentsExt.number}, p=${pg})}"> ← </a>
                                    </li>
                    
                                    <li th:each="page : ${#numbers.sequence(pgn.startPage, pgn.endPage)}" 
                                        th:class="${commentsExt.number == (page - 1)} ? 'active pointerx'">
                                        <a class="btn" th:href="@{s_ch(pos=${pos}, t=${title}, page=${page}, p=${pg})}" th:text="${page}"></a>
                                    </li>
                    
                                    <li th:style="'display:'+@{${disp2}}+';'">
                                        <a class="btn" th:href="@{s_ch(pos=${pos}, t=${title}, page=${commentsExt.number + 2}, p=${pg})}"> → </a>
                                    </li>
                                    <li th:style="'display:'+@{${disp2}}+';'">
                                        <a class="btn" th:href="@{s_ch(pos=${pos}, t=${title}, page=${commentsExt.totalPages}, p=${pg})}"> » </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div th:include="pages/adfragments :: adBottom(${adObject}, ${bottom})"/>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    </body>
</html>