body.container
{
    background-color: rgb(240,240,240);
}

div.col-sm-10
{
    background-color: white;
}

#chead
{
    font-size: 14px; color: blue;
}

.homewell
{
    color: white;
    text-align: center;
    background-color: rgb(0,88,52);
}

.pointerx
{
    pointer-events: none;
}

.centertinz
{
    text-align: center;
}

.justify
{
    text-align: justify;
}

.justify img
{
    display: block;
    margin: 0 auto;
}

.title
{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.smallfont
{
    font-size: 11px;
}

.smallfontRank
{
    font-size: 8px;
    color: blue;
    font-weight: bold;
}

.smallfont2
{
    font-size: 13px;
}

.smallfont2:hover
{
    font-weight: bold;
    text-decoration: none;
}

.postcomment_body
{
    margin-left: 25px;
    border: 1px solid rgb(237,237,237);
    border-radius: 10px;
    background-color: rgb(250,253,250);
}

.postcomment_username
{
    font-weight: bold;
    color: rgb(30,62,86);
    text-decoration: none;
}

.postcomment_duration
{
    float: right;
    color: rgb(30,62,86);
    font-size: 11px;
}

.postsubcomment_body
{
    margin-left: 25px;
    border: 1px solid rgb(237,237,237);
    border-radius: 10px;
    background-color: rgb(238,241,239);
    border-bottom: 3px solid rgb(228,231,229);
    border-left: 1px solid rgb(228,231,229)
}

.hidden
{
    display: none;
    cursor: pointer;
}

.commentBck
{
    background-color: rgb(250,253,250);
    overflow: auto;
}

div.commentBck a:hover
{
    text-decoration: none;
}

.commentBck2
{
    overflow: auto;
}

div.commentBck2 a:hover
{
    text-decoration: none;
}
/*
.uploadbtnwrapper
{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.uploadbtnfile
{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}
*/

.realcentertinz
{
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
}

.realcentertinz span
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.smallfont3A
{
    font-size: 13px;
}

.smallfont3
{
    font-size: 12px;
}

.smallfont3:hover
{
    font-style: italic;
}

.prclass
{
    float: right;
    margin-bottom: 10px;
}


.quotedCover
{
    overflow: auto;
    background-color: rgb(255,215,255);
    padding: 13px;
    border-radius: 10px;
    text-align: justify;
    width: 90%;
    float: right;
    border-bottom: 3px solid rgb(245,210,235);
    border-left: 1px solid rgb(245,210,235)
}

.desc
{
    font-size: 12px;
    font-weight: bold;
    color: grey;
    margin-bottom: 3px;
}

.thumbNailX
{
    border: 1px solid rgb(220, 230, 245);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: rgb(230, 240, 251);
}









.user_low
{
    box-shadow: 0px 2px 10px rgb(200, 0, 0);
}

.user_beginner
{
    box-shadow: 0px 3px 12px grey;
}

.user_pro
{
    box-shadow: 0px 2px 10px rgb(0, 100, 222);
}

.user_master
{
    box-shadow: 0px 2px 10px rgb(0,130,81);
}

.user_legend
{
    box-shadow: 0px 2px 10px rgb(144,0,144);
}

.user_genius
{
    box-shadow: 0px 2px 10px aqua;
}

.user_guru
{
    box-shadow: 0px 2px 10px orange;
}

.user_mod
{
    border-bottom: 3px solid blue;
}

.user_god
{
    box-shadow: 0px 2px 10px;
}

.prfdiv
{
    padding: 15px;
    border-top-left-radius: 50%;
    background-color: rgb(234,234,234);
    border: 1px solid rgb(225,225,225);
}

.errorclass
{
    height: 500px;
    line-height: 250px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: red;
}

.errorclass h1
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.unreadSub
{
    margin-left: 25px;
    border-radius: 10px;
    background-color: rgb(250, 240, 240);
    border: 1px solid rgb(250, 230, 230);
}

.postsubcomment_body2
{
    margin-left: 25px;
    border: 1px solid rgba(132,197,255,0.3);
    border-radius: 10px;
    background-color: rgba(132,197,255,0.1);
}

.unread
{
    box-shadow: 0px 0px 5px red;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(235,235,235);
}

.read
{
    background-color: rgb(250,250,250);
    border: 1px solid rgb(233,233,233);
}

.readFollow
{
    background-color: rgba(230, 240, 251, 0.7);
    border: 1px solid rgba(220, 230, 240,0.6);
}

.unreadFollow
{
    background-color: rgb(250, 240, 240);
    border: 1px solid rgb(250, 230, 230);
}

a.readFollow:hover 
{
    background-color: white;
    border: 1px solid white;
}

a.unreadFollow:hover
{
    background-color: white;
    border: 1px solid white;
}

.adDiv
{
    height: auto;
    line-height: 250px;
    text-align: center;
    text-decoration: none;
}

.adDiv a
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.newAd
{
    width: 200px;
    height: 150px;
    background-color: rgb(190, 235, 195);
    border: 1px solid rgb(180, 220, 180);
    border-radius: 10px;
    padding-top: 60px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(0,100,50);
}

.existingAd
{
    width: 200px;
    height: 150px;
    background-color: rgb(255, 230, 220);
    border: 1px solid rgb(255, 220, 210);
    border-radius: 10px;
    padding-top: 60px;
    font-size: 16px;
    
    text-decoration: none;
    color: rgb(0,100,50);
}

.newAd:hover
{
    text-decoration: none;
    background-color: rgb(170, 215, 175);
    box-shadow: 5px 5px 15px grey;
}

.existingAd:hover
{
    text-decoration: none;
    background-color: rgb(255, 195, 177);
    box-shadow: 5px 5px 15px grey;
}

.deleteCan
{
    color: red;
    padding-top: 17px;
    font-size: 11px;
}

.advertForm
{
    margin-top: 30px;
}

.adBlock
{
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    overflow: auto;
}

.adBlock:hover
{
    background-color: rgba(190, 235, 195,0.5);
    border: 1px solid rgba(180, 220, 180,0.4);
}

.adImage
{
    display: inline-block;
    float: left;
    width: 20%;
}

.adDetails
{
    display: inline-block;
    float: right;
    width: 40%;
}

.approved
{
    color: green;
}

.pending
{
    color: orange;
}

.maj
{
    margin-top: 5px;
}

.activeNote
{
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.pauseNote
{
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.adBanner
{
    width: 167px;
    height: 95px;
    border-radius: 5px;
}

.centertinzAdTop
{
    text-align: center;
    border-bottom: 1px solid rgb(225, 225, 225);
    margin-bottom: 10px;
}

.centertinzAdBottom
{
    text-align: center;
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 10px;
}

.appLogo
{
    width: 50px;
    height: 50px; 
    border-radius: 50%;
}

.readerImage1
{
    width: 50px;
    height: 50px; 
    border-radius: 50%;
}

.readerImage2
{
    width: 35px;
    height: 35px; 
    border-radius: 50%;
}

.profileImage
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profileImageUpdate
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.inlineDisp
{
    display: inline;
}

.inlineDispBlock
{
    display: inline-block;
}

.normalFont
{
    font-weight: normal;
}

.autoOverflow
{
    overflow: auto;
}

.roundImage
{
    border-radius: 50%;
}

.trendList
{
    width: 91%;
}

.floatRightLink
{
    width: 5%;
    float: right;
}

.followePostList
{
    overflow: auto;
    padding: 1px;
}

.adUpdateImg
{
    border-radius: 5px;
    width: 250px;
    height: 100px;
}

.alertNote
{
    background-color: orange;
    position: relative;
    top: -5px;
}

.redColor
{
    color: red;
}

.greenBack
{
    color: green;
}

a:hover
{
    text-decoration: none;
}

.follow
{
    padding: 4px;
    border-radius: 3px;
    border: 1px solid rgb(0, 215, 110);
    color: green;
    background-color: palegreen;
}

.unfollow
{
    padding: 4px;
    border-radius: 3px;
    border: 1px solid rgb(240, 180, 180);
    color: red;
    background-color: pink;
}

.follow:hover
{
    background-color: green;
    color: white;
    border: 1px solid green;
}

.unfollow:hover
{
    background-color: red;
    color: white;
    border: 1px solid red;
}







/*ADMIN SPECIAL STYLES*/

.adminBk
{
    background-image: url("../files/system_img/bkimg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.unApproved
{
    background-color: pink;
    border: 1px solid white;
}

.postApproval
{
    float: left;
    margin-bottom: 10px;
}